<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Add into Inventory</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card" style="box-shadow: 0 0 25px lightgrey;">
                    <div class="card-header">
                        <h4>Add Inventory</h4>
                    </div>
                    <div class="card-body">
                        <form>

                            <table style="width: 800px;">
                                <thead>
                                    <tr>

                                        <th style="text-align:center">Items </th>
                                        <!-- <th style="text-align:center">Total Quantity</th> -->
                                        <th style="text-align:center">Quantity</th>
                                        <th style="text-align:center">Threshold</th>
                                        <th style="text-align:center">Unit</th>

                                        <!-- <th style="text-align:center">Price</th> -->
                                        <!-- <th>Total</th> -->
                                    </tr>
                                </thead>
                                <tbody id="add_item">
                                    <tr>

                                        <td>
                                            <input id="pdt_name" type="text" class="form-control form-control-sm">
                                        </td>

                                        <td>
                                            <input id="pdt_qty" name="qty[]" type="text"
                                                class="form-control form-control-sm" required>
                                        </td>
                                        <td>
                                            <input type="text"  id="pdt_tres" class="form-control form-control-sm" required>
                                        </td>
                                        <td>
                                            <input type="text" id="pdt_unit" class="form-control form-control-sm" required>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--table ends-->
                        </form>
                        <div style="padding: 10px;" id="add_inven">
                            <p id="add_inven"  style="width: 150px;" class="btn btn-success">Add</p>

                        </div>
                        <script>
                            document.getElementById('add_inven').onclick = function rem_fun() {
                                var xhr = new XMLHttpRequest();
                                xhr.open("POST", "/add_inv_items", true);
                                xhr.setRequestHeader('Content-Type', 'application/json');
                                let pdt_name = document.getElementById("pdt_name").value;
                                let pdt_qty = document.getElementById("pdt_qty").value;
                                let pdt_unit = document.getElementById("pdt_unit").value;
                                let prdt_tres = document.getElementById("pdt_tres").value;

                                xhr.send(JSON.stringify({

                                    Item: pdt_name,
                                    Quantity: pdt_qty,
                                    Treshold:prdt_tres,
                                    Unit : pdt_unit


                                }));
                                window.location.href = '/add_inventory';
                            }
                        </script>

                    </div>
                    <!--card ends-->
                </div>
                <!--order card ends-->



            </div>
        </div>
    </div>
    </div>

</body>

</html>
